@model HMS.Areas.Dashboard.ViewModels.AccomodationPackagesListingModel

@if (Model != null && Model.AccomodationPackages != null && Model.AccomodationPackages.Count() > 0)
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Fee Per Night</th>
                <th scope="col">Accomodation Type</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var accomodationPackage in Model.AccomodationPackages)
            {
                <tr>
                    <td>
                        @accomodationPackage.Name
                    </td>
                    <td>
                        @accomodationPackage.FeePerNight
                    </td>
                    <td>
                        @if (accomodationPackage.AccomodationType != null)
                        {
                            @accomodationPackage.AccomodationType.Name
                        }
                    </td>
                    <td>
                        <button data-href="@Url.Action("Action", "AccomodationPackages", new { ID = accomodationPackage.ID })" type="button"
                                class="data-btn btn btn-primary" data-bs-toggle="modal" data-bs-target="#actionModal">
                            <i class="fas fa-edit"></i> Edit
                        </button>


                        <button data-href="@Url.Action("Delete", "AccomodationPackages", new { ID = accomodationPackage.ID })" type="button"
                                class="data-btn btn btn-warning" data-bs-toggle="modal" data-bs-target="#actionModal">
                            <i class="fas fa-remove"></i> Delete
                        </button>

                    </td>
                </tr>
            }
        </tbody>
    </table>

    <!-- pager -->
    if (Model.Pager.EndPage > 1)
    {
        <nav aria-label="Page navigation example">
           <ul class="pagination">
                @if (Model.Pager.CurrentPage > 1)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccomodationPackages")">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccomodationPackages", new { page=(Model.Pager.CurrentPage - 1) })">Previous</a>
                    </li>
                }

                @for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
                {
                    <li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
                        <a class="page-link" href="@Url.Action("Index","AccomodationPackages", new { page=page})">@page</a>
                    </li>
                }

                @if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
                {
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccomodationPackages", new { page=Model.Pager.CurrentPage + 1})">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="@Url.Action("Index","AccomodationPackages", new { page=Model.Pager.TotalPages})">Last</a>
                    </li>
                }
            </ul>
          </nav>
    }
}
else
{
        <div class="alert alert-warning" role="alert">
            Sorry! No records exist.
        </div>
}


